* {
    padding: 0;
    margin: 0;
}

body {
    background-color: rgb(255, 248, 236);
}

a {
    color: rgb( 70, 80, 89);
    text-decoration: none;
}

a:hover {
    color: magenta;
}

#container {

    width: 1024px;
    margin: 0 auto;
}

/* gorna część kontenera */
#container_up {
    position: relative;
    margin-top: 10px;
    width: 944px;
    height: 100px;

}

img.logo {
    position: absolute;
    border: 0;
    left: 10px;
    top: 5px;
    width: 220px;
    height: 90px;
}

#nr_klienta {
    position: absolute;
    right: 130px;
    top: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
}

/* środkowe menu */

#menu_center {
    background-color: rgb(242, 235, 220);
    width: 944px;
    height: 36px;
    border: 1px solid rgb(223, 213, 193);
    border-top: solid rgb(179, 163, 145);
}

#menu_center li {
    margin: 5px 15px 0px 10px;
    list-style-type: none;
    float: left;
    font-size: 21px;
    font-family: Arial, Helvetica, sans-serif;
    width: fit-content;
}

#menu_center li a {
    border-bottom: none;
    color: rgb(70, 80, 89);
}

#menu_center li span.link {
    display: block;
}

#menu_center #first_lvl {
    margin-left: 40px;
}

#menu_center span.spaces {
    display: inline-block;
    color: rgb(179, 163, 145);
}

/* menu rozwijane */

#first_lvl li .second_lvl {
    display: none;
    position: absolute;
    top: 1.5em;
    left: 0em;
}

#first_lvl li:hover .second_lvl {
    display: block;
    width: fit-content;
}

#first_lvl li .second_lvl li {
    width: fit-content;
    text-align: left;
    margin-left: 10px;
    border-top: 2px solid rgb(179, 163, 145);
}

#first_lvl li {
    position: relative;
}

#first_lvl>li {
    height: 32px;
}

#first_lvl li .second_lvl {
    background-color: rgb(191, 179, 164);
    border-left: 3px solid rgb(179, 163, 145);
    border-bottom: 1px solid rgb(179, 163, 145);
    border-right: 1px solid rgb(179, 163, 145);
    /* opacity: 0.9;
    filter: aplha(opacity=90);  */
}

#first_lvl li .second_lvl li a {
    display: block;
    width: fit-content;
    min-width: 70px;
    max-width: 150px;
    margin-bottom: 5px;
    padding-bottom: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: solid;
}

#first_lvl li .second_lvl li a:hover {
    background-color: rgb(179, 163, 145);
    padding-left: 10px;
    margin-left: -10px;
    padding-right: 10px;
    margin-top: -1px;
    border-top: 3px solid rgb(179, 163, 145);
    font-weight: bolder;
}

#first_lvl li .second_lvl li .first_menu_item {
    margin-top: 5px;
}

/* zawartość główna */

/* góra - zawartosc głowna */

#content {
    width: 944px;
    border-radius: 5px;
}

#content_up {
    height: 100px;
    background-color: rgb(242, 235, 220);
    margin-top: 10px;
    border-radius: 5px;
    border: 1px solid rgb(223, 213, 193);
}

#content_up #customer_details {
    padding: 20px;
    font-size: 20px;
    text-align: left;
    margin-left: 20px;
    list-style: none;
}

/* środek - zawartość głowna */

#content_middle {
    width: 944px;
    margin-top: 10px;
}

#content_middle .last-transfers {
    width: 460px;
    height: 300px;
    float: left;
    background-color: rgb(242, 235, 220);
    border: 1px solid rgb(223, 213, 193);
    border-radius: 5px;
    padding: 20px;
    font-size: 16px;   
}

.last-transfers .h1 {
    font-size: 20px;
    font-weight: bold;
    border-bottom: solid;
}

#content_middle #last-transfers table {
    padding: 10px;
}

#content_middle #fast_transfer {
    width: 430px;
    height: 280px;
    float: right;
    background-color: rgb(242, 235, 220);
    border: 1px solid rgb(223, 213, 193);
    border-radius: 5px;
}

#content_middle #fast_transfer table {
    padding: 10px;
}

#content_middle #fast_transfer thead {
    font-size: 20px;
}

/* dół - zawartość główna */

#content_down {

}


/* strona logowania */

.login_page {
    width: 100%;
    max-width:380px;
    padding: 10px;
    margin: auto;
    margin-top: 10px;
    font-size: 18px;
}

.login_page .login_box .card {
    background-color: rgb(242, 235, 220);
    padding: 15px;
    border: 1px solid rgb(179, 163, 145);
}

.login_page .card-danger .card-title, .login_page .card-success .card-title {
    background-color: rgb(179, 163, 145);
    padding: 15px;
    text-align: center;
    font-size: 20px;
    margin-bottom: 20px;
}

.login_page .login_box .login_h {
    margin: 15px;
    text-align: center;
    font-size: 26px;
    margin-bottom: 22px;
}

.login_page .form_control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
    border-radius: 3px;
    display: block;
    width: 100%;
    margin-bottom: 5px;
    border: 1.5px solid rgb(179, 163, 145);
}

.login_page .col-8 {
    margin-top: 12px;
    margin-left: 6px;
}

.login_page .col-4 {
    font-size: 32px;
    text-align: center;
    margin-bottom: 13px;
}

.login_page .col-4 .btn {
    border-radius: 5px;
    padding: 5px 20px 5px 20px;
    font-size: 14px;
    font-weight: bold;
}

.login_page .mb-1, .mb-0 {
    margin: 5px;
    margin-left: 6px;
}

/* strona rejestracji */

.register_page {
    width: 100%;
    max-width:380px;
   padding: 10px;
    margin: auto;
    margin-top: 10px;
    font-size: 18px;
}

.register_page .card-danger .card-title, .register_page .card-success .card-title {
    background-color: rgb(179, 163, 145);
    padding: 15px;
    text-align: center;
    font-size: 20px;
    margin-bottom: 20px;
}

.register_page .register_box .card {
    background-color: rgb(242, 235, 220);
    padding: 15px;
    border: 1px solid rgb(179, 163, 145);
}

.register_page .register_box .register_h {
    margin: 15px;
    text-align: center;
    font-size: 20px;
    margin-bottom: 20px;
}

.register_page .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
    border-radius: 3px;
    display: block;
    width: 100%;
    margin-bottom: 5px;
    border: 1.5px solid rgb(179, 163, 145);

}

.register_page .icheck-primary {
    font-size: 18px;
    margin-top: 12px;
    margin-left: 6px;
    margin-bottom: 4px;
}

.register_page .col-4 {
    font-size: 32px;
    text-align: center;
    margin-bottom: 13px;
}

.register_page .col-4 .btn {
    border-radius: 5px;
    padding: 5px 25px 5px 25px;
    font-size: 15px;
    font-weight: bold;
}

.register_page .text-center {
    margin: 5px;
    margin-left: 6px;    
}

/* strona zapomnienia hasła */

.login_forget {
    width: 100%;
    max-width:380px;
    padding: 10px;
    margin: auto;
    margin-top: 10px;
    font-size: 18px;
}

.login_forget .login_box .card {
    background-color: rgb(242, 235, 220);
    padding: 15px;
    border: 1px solid rgb(179, 163, 145);
}

.login_forget .login_box .forget_h {
    margin: 15px;
    text-align: center;
    font-size: 21px;
    margin-bottom: 22px;
}

.login_forget .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
    border-radius: 3px;
    display: block;
    width: 100%;
    margin-bottom: 5px;
    border: 1.5px solid rgb(179, 163, 145);
}

.login_forget .col-12 {
    font-size: 32px;
    text-align: center;
    margin-bottom: 13px;
}

.login_forget .col-12 .btn {
    border-radius: 5px;
    padding: 5px 35px 5px 35px;
    font-size: 14px;
    font-weight: bold;
}

.login_forget .mt-3, .mb-0 {
    margin: 5px;
    margin-left: 6px;
}