div.box {
    height: 300px;
    width: 500px;
}

p.ukryty {
    overflow: hidden;
}

p.scroll {
    overflow: scroll;

}

p {
    height: 20%;
    width: 20%;
    background-color: sandybrown;
}

td.description {
    min-width: 400px;
    max-width: 500px;
    margin: 0;
    padding: 5px;
    text-align: left;
}

td > img {
    width: 200px;
}

th {
    border-bottom: solid 1px seagreen;
}