.text h3, .text p {
    margin: 10px 0;
    color: #999;
    text-align: center;
}

.text {
    float: left;
    background: #eee;
    margin: 1%;
    padding: 1%;
    height: 130px;
    width: 28.33%;
}

.content {
    padding: 10px;
    background: #eee;
    float: left;
}